[pull]
    rebase = false
[core]
    pager = delta
    editor = nvim
[init]
    defaultBranch = master
[delta]
    syntax-theme = gruvbox-dark
    navigate = true
[interactive]
    diffFilter = delta --color-only
[alias]
    root = rev-parse --show-toplevel
[include]
    path = "~/.gitconfig.local"
[url "git@github.com:"]
	insteadOf = https://github.com/
[submodule]
	recurse = true
