[pull]
    rebase = false
[core]
    pager = delta
    editor = nvim
[init]
	defaultBranch = main
[delta]
    syntax-theme = gruvbox-dark
    navigate = true
[interactive]
    diffFilter = delta --color-only
[alias]
    root = rev-parse --show-toplevel
    snapshot = "!f() { git stash -u -m \"checkpoint $(date +%Y-%m-%dT%H:%M:%S)\" && git stash apply; }; f"
[include]
    path = "~/.gitconfig.local"
[submodule]
	recurse = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
