[submodule "zsh/.config/zsh/external/powerlevel10k"]
	path = zsh/.config/zsh/external/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "tmux/.tmux/plugins/tmux-thumbs"]
	path = tmux/.tmux/plugins/tmux-thumbs
	url = https://github.com/fcsonline/tmux-thumbs.git
