[submodule "zsh/.config/zsh/external/powerlevel10k"]
	path = zsh/.config/zsh/external/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/.config/zsh/external/kubectl-aliases"]
	path = zsh/.config/zsh/external/kubectl-aliases
	url = https://github.com/ahmetb/kubectl-aliases
[submodule "zsh/.config/zsh/external/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/external/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/zsh/external/fzf"]
	path = zsh/.config/zsh/external/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zsh/.config/zsh/external/zsh-autosuggestions"]
	path = zsh/.config/zsh/external/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
